<head>
    <!-- ✅ Set the character encoding to support all languages, including Hebrew -->
    <meta charset="UTF-8">
    
    <!-- ✅ Ensure the site is responsive on all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- ✅ Set the title of the page (appears in the browser tab) -->
    <title>AI Game Recommender</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>  <!-- swiper styles -->
    <link rel="stylesheet" href="/css/mainhtml.css"><!-- body styles -->
    <link rel="stylesheet" href="/css/navbar.css"><!-- navbar styles -->
    <link rel="stylesheet" href="/css/footer.css"><!-- footer styles -->
    <link rel="stylesheet" href="/css/explore.css"><!-- explore page styles -->
    <link rel="stylesheet" href="/css/game-info-page.css"><!-- game info page styles -->
    <link rel="stylesheet" href="/css/home.css"><!-- home page styles -->
    <link rel="stylesheet" href="/css/search.css"><!-- search page styles -->
    <link rel="stylesheet" href="/css/storespage.css"><!-- store page styles -->
    <link rel="stylesheet" href="/css/profile.css"><!-- profile styles -->
    <link rel="stylesheet" href="/css/edit-profile.css"><!-- edit profile styles -->
    <link rel="stylesheet" href="/css/recommendation.css"><!-- recommendation styles -->
    <link rel="stylesheet" href="/css/login.css"><!-- login styles -->
    <link rel="stylesheet" href="/css/register.css"><!-- register styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"><!-- icons styles -->
   
    


</head>
