<!DOCTYPE html>
<html lang="he">
<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>
            <div class="container">
                <h2>🔎 חפש משחק</h2>
                <form action="/search" method="GET">
                    <input type="text" name="query" placeholder="הכנס שם משחק" required>
                    <button type="submit" class="btn">🔍 חפש</button>
                </form>
            </div>
            <%- include('partials/footer') %>
    </body>

</html>